main{
    min-height: 80vh;
}

footer{

    background-color: lavender;
}

.start{
    padding-top: 15px;
    padding-bottom: 15px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
  }

.img-fit{
    width: 100%;
    height: 400px;
}

.logo{
    height: 50px;
    width: 50px;
}

.card-text{
    font-size: 13px;
}

.person-name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-decoration: underline;
}

.person-details{
    font-family: 'Courier New', Courier, monospace;
}
